.container {
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(to right,#fdfaf3, #f4d1bc, #f6f6f0, #fefdfb, #f7dcd7);
}
.change {
    color: white;
    background: linear-gradient(to right,#8d1966, #942c76, #932776, #ea7aa0)
}
.header {
    height: 90px;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}
.header__search {
    width: 50%;
    height: 40px;
    margin-top: 5px;
    margin-right: 140px;
    border-radius: 26px;
    position: relative;
}
.header__search__input {
    width: 100%;
    padding: 5px 50px;
    border: none;
    border-radius: 26px;
    height: 40px;
    outline-color: green;
    background: linear-gradient(to right, #e9c8b9, #e9d0cb)
}
.header__search i {
    position: absolute;
    top: 10px;
    color: #797777;
    font-size: 20px;
    left: 16px;
}
.header__comeback, .header__setting, .header__theme,.header__upload  {
    border-radius: 26px;
    padding: 11px 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
}
.header div:hover{
    background-color: #f4d1bc;
}
.header__logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/* ***Content****************************** */
.content{
    margin-top: 20px;
    
}
.content__introduce--name{
    font-size: 3rem;
    padding-bottom: 20px;
}
.link {
    font-size: 1.6rem;
}
.content__introduce--discribe{
    font-size: 2rem;
    width: 75%;
    font-family: -webkit-body;
    padding: 15px 0;
    line-height: 2.5rem;
}
.content__introduce--quote{
    font-size: 2rem;
    font-family: auto;
}
.title__podcast {
    padding: 20px 0;
    font-size: 2.5rem;
    color: green;
}
.change .title__podcast {
    color: mintcream;
}
.intro--podcast {
    line-height: 2.5rem;
    width: 70%;
    font-size: 2rem;
    font-family: auto;
}
/* media */
.media {
    margin-top: 30px;
}
.control {
    display: flex;
    border-bottom: 1px outset;
    position: relative;
}
.control__btn {
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: 12px;
    cursor: pointer;
    min-width: 105px;
    text-align: center;
}
.control__btn:not(.active):hover {
    color: #c23564;
}
.active {
    color: green;
    background-color:#edbea9;
}
.line {
    position: absolute;
    width: 105px;
    height: 4px;
    left: 132px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
}
/* Render************** */
.render {
    margin-top: 30px;
    display: flex;
    height: 420px;
    
}
.cd__thumb {
    margin-left: 52px;
   margin-right: 60px;
}
.cd__thumb--img {
    width: 310px;
    border-radius: 50%;
    height: 310px;
    margin: 10px 0 20px;
}
.cd--rotate {
    animation: rotate 6s  linear infinite;
}
.cd-pause {
    animation-play-state:paused
}
@keyframes rotate {
    from {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
.cd__thumb__control {
    display: flex;
    font-size: 2.4rem;
    justify-content: space-between;
}
.cd__thumb__control > i {
    line-height: 4rem;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 25px;
}
.cd__thumb__control > i:hover {
    background-color: #ec7b35;
}
.control--off {
    display: none !important;
}
.control--asset {
    display: flex;
    cursor: pointer;
    font-size: 4rem;
}
.list--render {
    width: 100%;
}
.song {
    height: 94%;
    width: 100%;
    display: none;
    overflow-y: scroll;
}
.active--song {
    display: block;
}
.change .playList--item:hover{
    background-color: #8d1a74;
}
.time {
    padding-top: 8px;
    font-size: 1.3rem;
}
@media screen and (max-width:740px){
    .header{
        height:100%
    }
    .header__search{
        display:none;
    }
    .content__introduce--discribe{
        width:100%;
        text-align: justify;
    }
    .title__podcast{
        line-height:3rem;
    }
    .intro--podcast{
        width:100%;
        text-align:justify;
    }
    .render{
        flex-direction: column;
        height: auto;
    }
    .control__btn{
        font-size:1.4rem;
        min-width:102px;
    }
    .cd__thumb{
        margin:0;
        display: flex;
        flex-direction: column;
    }
    .cd__thumb--img{
        width: 300px;
        height: 300px;
        align-self: center;
    }
    .list--render{
        margin-top:10px;
        height: 300px;
        overflow-x: hidden;
    }
    .playList--item__content{
        width: 60% !important;
    }
}